:root{
    --color-primary: #0075FF;
    /*--color-primary: #e511f8;*/
    --color-footer: #888;
    --transitionhover: 0.3s;
}

body{
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px var(--color-footer);
}

/* .logo img{
    max-width: 3rem;
}

.logo img:hover{
    cursor: pointer;
} */

/* .logo {
    max-width: 3rem;
    fill: var(--color-primary);
} */

svg g {
    fill: var(--color-primary);
}

.logo:hover {
    filter: invert(100%);
    cursor: pointer;
    transition-duration: var(--transitionhover);
}

.main-menu {
    margin-bottom: 0;
}

.main-menu li{
    font-size: 1rem;
    list-style: none;
    display: inline;
    margin-right: 2rem;
}

.main-menu li a {
    color: var(--color-primary);
    text-decoration: none;
}

.main-menu li a:hover{
    text-decoration: none;
    filter: invert(100%);
    cursor: pointer;
    transition-duration: var(--transitionhover);
}

.nav-icons{
    display: flex;
    gap: 1rem;
}

.nav-icons .icons{
    color: var(--color-primary);
    font-size: 2rem;
}

.nav-icons .icons:hover{
    filter: invert(100%);
    cursor: pointer;
    transition-duration: var(--transitionhover);
}

.sec-home, .sec-skills, .sec-contactme{
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 2rem;
}

.sec-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-animation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.word-change{ 
    background-color: var(--color-primary);
    font-size: 2rem;
    color: white;
    line-height: 3rem;
    height: 3rem;
    padding: 0 14px 0 7px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.word-change:before{
    content: '';
    background-color: black;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 7px;
}

.home-img img{
    width: 200px;
}

.content-boton-home{
    padding: 0;
}

.boton-home{
    padding: 0.25rem 1.5rem;
    margin: 10px 0px;
    border-radius: 0.25rem;
    background-color: var(--color-primary);
    color: white;
    border: solid 1px var(--color-primary);
}

.boton-home:hover{
    text-decoration: none;
    color: var(--color-primary);
    background-color: white;
    transition-duration: var(--transitionhover);
}

.footer{
    background-color: var(--color-footer);
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.footer .credits{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}